In [10]:
import pandas as pd

mercado = pd.read_csv('vendas-supermercado.csv')
# Agrupamento + aplicação de um única cálculo estatístico - Agrupamento do total de vendas, por categoria
agregacao_basica = mercado.groupby('Categoria')['Vendas'].sum()
agregacao_basica
# Agrupamento + aplicação de um única cálculo estatístico(opção 2)
agregacao_basica_2 = mercado.groupby('Categoria')['Vendas'].agg(['sum'])
agregacao_basica_2
# Agrupamento + aplicação de múltiplos cálculos estatísticos em uma única coluna
agregacao_3 = mercado.groupby('Categoria')['Vendas'].agg(['sum','mean','std','max','min','count'])
agregacao_3
# Agrupamento + aplicação de múltiplos cálculos estatísticos em múltiplas colunas
agregacao_4 = mercado.groupby(['Categoria','Região'])['Vendas'].agg(['sum','mean','std','max','min','count'])
agregacao_4
# Agrupamento + aplicações de cálculos estatísticos diferentes em cada coluna
resumo_multidimensional = mercado.groupby(['Categoria']).agg({'Vendas': 'sum', 'Lucro': 'mean'})
resumo_multidimensional
# Agrupamento + aplicações de cálculos estatísticos diferentes em cada coluna
agregacao_basica_2 = mercado.groupby('Categoria')['Vendas'].agg(['sum'])
agregacao_5 = mercado.groupby('Categoria').agg({'Vendas': 'sum','Desconto':'mean','Quantidade':'mean'})
agregacao_5

                             Vendas  Desconto  Quantidade
Categoria
Material de Escritório  719047.0320  0.157285    3.801195
Móveis                  741999.7953  0.173923    3.785007
Tecnologia              836154.0330  0.132323    3.756903