In [ ]:
import pandas as pd

#CSV
clientes = pd.read_csv('./clientes.csv') #dataframe
clientes.head(5) # 5 = as 5 primeiras linhas e 5 Ã© o padrao default
# colunas especificas
clientes[['nome', 'email', 'nivel_fidelidade']].head(10)  #read = inicio 
clientes[['nome', 'email', 'nivel_fidelidade']].tail(5)  #tail = final

#XLSX
clientes_xlsx = pd.read_excel('./clientes.xlsx')
clientes_xlsx.head(5)

#TXT
clientes_txt = pd.read_csv('./clientes.txt', delimiter=';')
clientes_txt.head(5)

  id_cliente;nome;endereco;email;data_nascimento;sexo;nivel_fidelidade
0       1;Gabrielly da Costa;"Avenida de Moraes; 371
1                               Vila Jardim Alvorada
2  90991757 Correia / MG";dda-mota@example.com;19...
3                2;Luiza Silva;"Travessa de Pinto; 4
4                                        Vila Maloca