In [3]:
import pandas as pd
# Desafios Práticos:
pedidos = pd.read_csv('./pedidos.csv')

# Desafio 1: Alterar o valor da terceira linha da coluna 'Produto' de 'Relógio' para 'Produto 3'.
pedidos.at[2, 'produto'] = 'Produto 3'

# Desafio 2: Substituir todos os métodos de pagamento 'Boleto' por 'À Vista'
pedidos.loc[pedidos['metodo_pagamento'] == 'Boleto', 'metodo_pagamento'] = 'À Vista'

# Desafio 3: Reduzir o custo de envio em 5% para todos os pedidos
def reduzir_custo(custo):
    return custo * 0.95
pedidos['custo_envio'] = pedidos['custo_envio'].apply(reduzir_custo)
pedidos.head()

,id_pedido,id_cliente,data_pedido,produto,categoria,quantidade,preco_unitario,metodo_pagamento,custo_envio,status_pedido,tempo_entrega_dias
0,1,69,2023-06-18,Mochila,Acessórios,9,760.14,Dinheiro,23.4745,Processando,13.0
1,2,4,2022-05-13,Fones de Ouvido,Eletrônicos,9,21.11,Pix,32.9555,Processando,10.0
2,3,90,2023-08-05,Produto 3,Eletrônicos,3,407.04,Pix,46.1035,Entregue,7.0
3,4,38,2023-04-23,Jogo de Vídeo,Vestuário,5,709.36,Dinheiro,32.3855,Processando,3.0
4,5,82,2023-07-09,Camiseta,Lazer,5,938.72,À Vista,25.3935,Entregue,14.0