In [10]:
import pandas as pd

alunos1 = pd.read_csv('./alunos1.csv')
alunos2 = pd.read_csv('./alunos2.csv')
notas = pd.read_csv('./notas.csv')
# Concatenar(unir) diferentes dataframes
# Unir dataframes verticalmente(um em cima do outro)
todos_alunos_vertical = pd.concat([alunos1,alunos2],axis=0)
todos_alunos_vertical.head(5)
# Unir dataframes horizontalmente(lado a lado)
todos_alunos_horizontal = pd.concat([alunos1,notas],axis=1)
todos_alunos_horizontal.head(5)
# Como resetar o índice, para ter uma índice sequencial no novo dataframe
todos_aluno_indice_sequencial = pd.concat([alunos1,alunos2],ignore_index=True)
# Resetar índice, opção 2
todos_aluno_indice_sequencial = pd.concat([alunos1,alunos2])
todos_aluno_indice_sequencial = todos_aluno_indice_sequencial.reset_index(drop=True)
# Caso queira identificar visualmente cada dataframe, você pode setar chaves(só funciona se não resetar o índice) para identificar melhor de onde veio cada informação
todos_alunos_com_chaves = pd.concat([alunos1,alunos2],keys={'alunos1','alunos2'})
todos_alunos_com_chaves.head(5)

           id_aluno   nome
alunos1 0         1    Ana
        1         2  Bruno
alunos2 0         3  Carla
        1         4  David