In [1]:

import pandas as pd


alunos1 = pd.read_csv('./alunos1.csv')
alunos2 = pd.read_csv('./alunos2.csv')
alunos3 = pd.read_csv('./alunos3.csv')

# Una verticalmente os dados dos arquivos alunos1.csv, alunos2.csv e alunos3.csv(em anexo) e exiba o resultado na tela
todos_aluno = pd.concat([alunos1, alunos2, alunos3])
todos_aluno.head(5)

# Identifique cada dataframe através de uma chave própria
todos_aluno_com_chaves = pd.concat([alunos1,alunos2,alunos3],keys={'alunos1','alunos2','alunos3'})
todos_aluno_com_chaves.head(5)

# Reset o índice da concatenação dos 3 arquivos
todos_aluno_com_chaves = todos_aluno_com_chaves.reset_index(drop=True)
todos_aluno_com_chaves.head(5)

   id_aluno   nome
0         1    Ana
1         2  Bruno
2         3  Carla
3         4  David
4         5    Eva