In [3]:
import pandas as pd

alunos = pd.read_csv('./alunos.csv')
notas = pd.read_csv('./notas.csv')

# Desafio: Realize um inner join entre os DataFrames alunos e notas usando o 'id_aluno' como chave. O objetivo é criar um DataFrame que combine o nome do aluno com a nota correspondente.
alunos_e_notas = pd.merge(alunos, notas, on='id_aluno')
alunos_e_notas.head(5)

# Desafio: Após realizar o inner join, selecione apenas as colunas 'nome_aluno' e 'nota' para exibição no DataFrame resultante.(head(5))
nome_e_nota = alunos_e_notas[['nome_aluno', 'nota']]
nome_e_nota.head(5)



# Desafio: Identifique e liste os alunos que obtiveram notas acima de 80 no DataFrame resultante do inner join.
alunos_acima_80 = alunos_e_notas[alunos_e_notas['nota'] > 80]
alunos_acima_80.head(5)

   id_aluno nome_aluno  id_prova  nota
0         1        Ana       101    85
2         3      Carla       102    90